body{
    margin: 0;
    padding: 0;
    font-family:"Shippori Mincho"ã€serif;
    font-size: 16px;
    line-height: 1.5;
}

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a{
    transition: 0.3s;
}
a:hover{
    opacity: 0.07;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

.page-header,
.page-hero,
.page-content,
.page-footer{
   /* max-width: 1280px; */
    width: 100%;
}

.page-header{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 16px 0 24px;
    background-color: #fff;
}

.page-header_inner,
.page-content_inner{
    box-sizing: content-box;
}

.page-header{
    border-top: solid 4px #7f9916;
}

.page-header_inner{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
}

.page-header.logo,
.page-footer.logo{
    width: 256px;
}

.page-content_inner{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding: 0.24px;
}

.logo{
    width: 256px;
}

.sns-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
}

.sns-list_item {
    width: 24px;
}

.sns-list_item:nit(:first-child) {
    margin-left: 16px;
}

.page-header_inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.gloval-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.gloval-nav > .sns-list{
    margin-left: 64px;
}

.gloval-nav> .link-button{
    margin-left: 64px;
}

.link-button{
    display: table;
    width: 140px;
}

.menu-list{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.page-footer{
    margin-top: 120px;
}

.h2{
    text-align: center;
    margin: 24px auto 24px auto;
    padding: 24px 24px 8px 24px;
}

.h3{
    text-align: center;
}

.tuyomi-3{
    display: flex;
    max-width: 1000px;
    margin: 24px auto 0 auto;
    padding: 8px;
    gap: 48px;
}


.jisseki-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 1000px;
    margin: 24px auto 0 auto;
    padding: 24px 24px 8px 24px;
  }
  
  .jisseki-list{
    max-width: 48%;
    margin-bottom: 16px;
  }

  .hiyo-3{
    display: flex;
    max-width: 1000px;
    margin: 24px auto 0 auto;
    padding: 8px;
    gap: 24px;
  }

  .koe-3{
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    margin: 24px auto 0 auto;
    padding: 24px 24px 8px 120px;
  }

  .koe-list{
      display: flex;
      margin: 136px auto 136px auto;
      gap: 40px;
  }

  .koe-png{
    width: 94px;
    height: 94px;
  }
  
  .koe-list_item{
    flex-grow: 1;
    max-width: 504px;
  }

  .kaisya-2{
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    gap: 80px;
  }

  .kaisya-txt{
    max-width: 1000px;
  }

  .shita{
    margin: 24px auto 0 auto;
    align-items: flex-end;
    padding: 24px 24px 8px 120px;
    background-color: #E9F8AD;
    display: flex;
  }

  .small{
      margin-right: 0;
  }


  @media all and (max-width: 480px) {

    .tuyomi-3{
        justify-content: center;
        flex-direction: column;
    }

    .tuyomi-list{
        display: flex;
    }

    .tuyomi-png{
        width: 104px;
        height: 104px;
    }

    .jisseki-4,
    .hiyo-3,
    .kaisya-2{
        flex-direction: column;
        height: 100%;
    }

    .shita{
        flex-direction: column;
    }

    .jisseki-4{
        min-width: 200%;
    }

    .koe-3{
        margin-left: -56px;
    }

    .kaisya-txt{
        margin-left: 16px;
    }

  }
